*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

#home{
    background-image: url('./images/bg.png');
    height: 98vh;
    width: 100%;
    background-size:cover;
    background-position: center;
}

.img-div:hover{
    .img-div1{
        z-index: 1;
  
    }
}
#Contact {
    margin: 0px 8%;
}

.icon-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon {
    /* to get round border */
    width: 50px;
    height: 50px;
    border-radius: 50%;

    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.icon:hover {
    background-image: linear-gradient(to bottom right, white, rgb(44, 161, 128), rgb(223, 213, 213));
}

.brands {
    color: black;
    font-size: 30px;
}
.icon:hover .brands{
    color: white;
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.up-arrow{
    float: right;
    margin: -40px 30px 30px 0px;
    background-image: linear-gradient(to bottom right, white, rgb(44, 161, 128), rgb(223, 213, 213));
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;

}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(135, 180, 167);
    border-radius: 10px;
}